/*----------///////////////----------*/
/*---------///_ADVICES_///---------*/
/*--------///////////////--------*/

.advices-main {
    display: flex;
    flex-direction: column;
    align-items: center;

        p {
            max-width: 20rem;
        }
            img {
                max-width: 20rem;
                max-height: 25rem;
                @extend .white-border;
            }
}

.advices-main-imgs-grid {
    display: grid;
    grid-template-columns: 20rem;
    grid-template-rows: repeat(4, 6rem);
    justify-items: center;
}