/*----------//////////////////----------*/
/*---------///_CONTACT US_///---------*/
/*--------//////////////////--------*/

.contact-us-main {
    background-image: url(../images/background-contact-us.png);
    background-size: cover;
}

.contact-us-main-text-plus-form {
    display: flex;
    flex-direction: column;
    align-items: center;

        p {
            max-width: 30rem;
        }
}

.contact-us-main-form {
    display: flex;
    flex-direction: column;
}