/*----------/////////////////////////////----------*/
/*---------///_COURSES AND WORKSHOPS_///---------*/
/*--------/////////////////////////////--------*/

.courses-workshops-main-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses-workshops-main-display-workshops {
    margin-bottom: $std;
}

.courses-workshops-main-display-courses {
    margin-bottom: $std;
}

.courses-workshops-separation-ends {
    margin-bottom: $std;
}

.courses-workshops-separation-middle {
    margin-bottom: $std;
    margin-top: $std;
}