/*-----------//////////////---------*/
/*----------///_HEADER_///----------*/
/*---------//////////////-----------*/

header {
    display: flex;
    border-bottom-style: solid;
    border-bottom-color: black;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(178, 140, 253) 35%, rgb(75, 191, 197) 100%);
}

/*----------Whatsapp Fixed----------*/

.whatsapp-fixed {
    display: none;
}