$services: (
    advices: rgb(255, 213, 213),
    design-brand: rgb(213, 253, 255),
    design-web: rgb(213, 253, 213),
    sm-manager: rgb(253, 253, 209),
    advertising: rgb(250, 208, 245),
    e-commerce: rgb(216, 216, 253),
);

@each $service, $color in $services {
    .service-#{$service} {

        &:hover {
            background-color: $color;
            border-style: solid;
            border-radius: 10rem;
            border-color: white;
        }
    }
}