@media (min-width: 1440px) {

    /*----------/////////////////////////////----------*/
    /*---------///_COURSES AND WORKSHOPS_///---------*/
    /*--------/////////////////////////////--------*/

    .courses-workshops-main-display {
        display: grid;
        grid-template-columns: 75rem;
        grid-template-rows: repeat(2, 70rem);
    }

    .courses-workshops-main-display-subgrid {
        display: grid;
        grid-template-columns: repeat(3,25rem);
        grid-template-rows: repeat(2, 30rem);
        align-items: center;
        justify-items: center;
    }

    .courses-workshops-separation-ends {
        margin-top: $std;
    }
}

@media (min-width: 768px) {

    /*----------//////////////----------*/
    /*---------///_HEADER_///---------*/
    /*--------//////////////--------*/

    /*----------Whatsapp Fixed----------*/

    .whatsapp-fixed {
    display: inline-block;
    position: fixed;
}
    /*----------//////////////----------*/
    /*---------///_FOOTER_///---------*/
    /*--------//////////////--------*/

    /*----------Home-Footer-Legal----------*/

    .footer-legal {
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content: space-around;

            ul {
                display: flex;
                justify-content: space-around;
            }
                li {
                    display: inline-block;
                    text-align: center;
                    color: white;
                    padding: 0.40rem;
                    margin-left: $std;
                    margin-right: $std;
                }
    }

    /*----------////////////----------*/
    /*---------///_HOME_///---------*/
    /*--------////////////--------*/

    /*----------////////////----------*/
    /*---------///_MAIN_///---------*/
    /*--------////////////--------*/

    /*----------Home-Main-Grid----------*/

    .home-main-grid {
        min-height: 180rem;
        max-height: fit-content;
    }

    /*----------Home-Main-Services----------*/

    /*----------Grid----------*/

    .home-main-grid-services-container-grid {
        display: grid;
        grid-template-rows: repeat(3, 15rem);
        grid-template-columns: repeat(2, 15rem);
        grid-gap: 2.5rem 4rem;
        justify-content: center;
    }
        
    section#home-main-grid-services-container {
        h2 {
        margin-bottom: $std;
        }
    }

    /*----------Home-Main-Courses and Workshops Online----------*/

    section#home-main-grid-courses-workshops-container {
        min-height: 60rem;
        max-width: 40rem;
        justify-self: center;
    }

    .home-main-grid-courses-workshops-container-grid {
        grid-template-columns: 18.75rem 18.75rem;
        margin-bottom: $std;
    }

    /*----------home-main-grid-newsletter----------*/

    section#home-main-grid-newsletter-container {
        background-attachment: fixed;
    }

    /*----------///////////////////////////////----------*/
    /*---------///_SOCIAL MEDIA MANAGEMENT_///---------*/
    /*--------///////////////////////////////--------*/

    .smm-main-grid {
        align-content: space-around;
    }

    /*--------------Intro---------------*/

    section#smm-main-grid-intro-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .smm-main-grid-intro-container-parraf {
        display: flex;
        flex-direction: column;
        align-self: center;
        max-width: 30rem;
        max-height: 25rem;
    }

    /*--------------Services---------------*/

    section#smm-main-grid-services-container {
        flex-direction: row;
        justify-content: space-around;
    }

    /*-----------------------------*/

    .smm-main-imgs {
        width: 25rem;
        height: 25rem;
    }

    /*--------------Plans---------------*/

    .smm-main-grid-plans-container-table {
        display: flex;
        justify-content: center;
        
    }

    /*----------///////////////----------*/
    /*---------///_ADVICES_///---------*/
    /*--------///////////////--------*/

    .advices-main {
        flex-direction: row;
        justify-content: space-around;

            p {
                max-width: 25rem;
            }
                img {
                    max-width: 35rem;
                    max-height: 35rem;
                }
    }
    
    .advices-main-text-plus-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .advices-main-imgs-grid {
        display: grid;
        grid-template-columns: repeat(2, 12.5rem);
        grid-template-rows: repeat(2, 6.2rem);
        justify-content: center;
    }

    /*----------/////////////////////////////----------*/
    /*---------///_COURSES AND WORKSHOPS_///---------*/
    /*--------/////////////////////////////--------*/

    .courses-workshops-main-display {
        flex-direction: row;
        justify-content: space-around;
    }

}