/*----------RESET----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/*--------------------*/

.button {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.spacing-form {
    margin: 0.5rem;
    padding: 0.25rem;
}

/*--------------------*/

.center {
    text-align: center;
}

.line-height {
    line-height: $std;
}

.margin-top {
    margin-top: $std;
}

.margin-bottom {
    margin-bottom: $std;
}

.margin-top-bottom {
    margin-top: $std;
    margin-bottom: $std;
}

.white-border {
    border-style: solid;
    border-color: white;
    border-radius: 1rem;
}

.black-border {
    border-style: solid;
    border-color: black;
    background-color: black;
}

.white {
    color: white;
}

.weight {
    font-weight: bold;
}

.fz {
    font-size: 1.2rem;
}