/*------------/////////////////////////----------*/
/*-----------///_GRAL. TRANSITIONS_///-----------*/
/*----------/////////////////////////------------*/

.link-2colors {
    text-align: center;
        a {

        }
            p {
                @include boton-2colors;

                    &:hover {
                        background-color: #8c52ff;
                        color: white;
                    }
            }
}

/*------------//////////////////----------*/
/*-----------///_ANIMATIONS_///-----------*/
/*----------//////////////////------------*/

.whatsapp-fixed {
    animation-name: animation-1;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    padding: 1.5rem;
}

@keyframes animation-1 {
    0% {
        opacity: 100%;
    }

    25% {
        opacity: 75%;
    }

    50% {
        opacity: 50%;
        transform: rotateY(360deg);
    }

    75% {
        opacity: 75%;
    }

    100% {
        opacity: 100%;
    }
}

/* ----------------------------------- */

.animation-2 {
    animation-name: animation-2;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    padding: 0.9rem;
}

@keyframes animation-2 {
    0% {
        font-size: $std;
    }

    25% {
        font-size: 1.5rem;
        background-color: black;
        color: white;
    }

    50% {
        font-size: $std;
        background-color: white;
        color: black;
    }

    75% {
        font-size: 1.5rem;
        background-color: black;
        color: white;
    }

    100% {
        font-size: $std;
        background-color: white;
        color: black;
    }
}

/* ----------------------------------- */

.footer-webs {
    img:hover {
    animation-name: animation-3;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    }
}

@keyframes animation-3 {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}