/*----------Transitions----------*/

.link-2colors {
    text-align: center;
}

.link-2colors a p {
    display: inline-block;
    border-style: solid;
    border-radius: 1rem;
    padding: 2rem;
    background-color: #00c2cb;
    color: black;
    border-color: white;
}

.link-2colors a p:hover {
    background-color: #8c52ff;
    color: white;

}